<div class="card character-card">
  <div class="character-card-image">
      <img  class="card-img-top" style="height: 316px;" src= <%= typeof image_url != 'undefined' ? image_url : "https://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/portrait_xlarge.jpg" %>>
  </div>
  <div style="display: inline; align-self: end; margin-right: 8px">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <!-- <div class="character-card-name"> -->
      <!-- BATMAN-BaTman -->
      <!-- <div style="margin-top: 6px;padding: 0px 20px;">
          BATMAN
      </div> -->
  <!-- </div> -->
  <div class="character-card-info">
    <div  class="character-card-name-0" >
        <%= name %>
    </div>
    
  <div class="character-card-details">
      Origin: <%=  origin != null ? origin.name : "Unkown" %> <br/>
        Comic: <%=  publisher != null ? publisher.name : "Unkown" %>
  </div>
</div>
</div>
