<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <%- include("../partials/character_card.ejs",{}) %>
      </div>
      <div class="flip-card-back">
        <%- include("../partials/card-back.ejs",{}) %>
      </div>
    </div>
  </div>


