<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= typeof title != 'undefined' ? title:"Task" %></title>

<!-- CSS (load bootstrap from a CDN) -->


<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/bootstrap.js"></script>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/flip-card.css" type="text/css" />

<style>
  body {
    padding-top: 50px;
  }
</style>
