<nav class="navbar navbar-expand-lg navbar-light m-auto " style="width: fit-content;">
    <!-- <a class="navbar-brand" href="/">EJS Is Fun</a> -->
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item <%=home%> border border-3 border-dark">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%=characters%> border border-3 border-dark">
        <a class="nav-link" href="/characters">Characters</a>
      </li>
      <li class="nav-item <%=comics%> border border-3 border-dark">
        <a class="nav-link" href="/comics">Comics</a>
      </li>
      <li class="nav-item <%=favorites%> border border-3 border-dark">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>
    </ul>
  </nav>