<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="row">
        <div style="padding: 0%; position: relative;" class="col-sm">
            <a href="/characters">
            <img class="img-fluid" style="height:100%;" src="/images/characters.jpeg">
            <span class="h1 text-on-image" style="left: 20px;"> CHARACTERS</span>
        </a>
        </div>

        <div style="padding: 0%;position: relative;"  class="col-sm">
            <a href="comics">
            <img class="img-fluid" style="height:100%;" src="/images/comics.jpeg">
            <span class="h1 text-on-image" style="right: 20px;"> COMICS</span>
        </a>

        </div>
      </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>